@layout('layouts/app')

@section('content')
<typescript-component :products_prop="{{ products }}"></typescript-component>
<welcome-component :products_prop="{{ products }}"></welcome-component>
@endsection 
